<div class="d-flex flex-wrap gap-3 justify-content-center">
  <ng-container *ngFor="let summ of leaveSummary">
    <app-leave-cards [count]="summ.count" [label]="summ.label" [color]="summ.color"
      (cardClick)="openModal(leaveDetailsModal, summ)">
    </app-leave-cards>
  </ng-container>
</div>

<!-- NGB Modal Template -->
<ng-template #leaveDetailsModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">{{ selectedLeave?.label }}</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <p><strong>Leaves Taken:</strong> {{ selectedLeave?.taken }}</p>
    <p><strong>Leaves Scheduled:</strong> {{ selectedLeave?.scheduled }}</p>
    <p><strong>Total Leaves:</strong> {{ selectedLeave?.count }}</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.close()">Close</button>
  </div>
</ng-template>